[uwsgi]
processes = {{uwsgi_processes}}
socket = {{uwsgi_socket}}
chmod-socket = {{uwsgi_chmod_socket}}
gid = {{uwsgi_uid}}
uid = {{uwsgi_gid}}
chdir = {{uwsgi_chdir}}
module = {{uwsgi_module}}
pythonpath = /usr/share/graphite-web
{% if uwsgi_thunder_lock %}
thunder-lock = true
{% endif %}
{% if uwsgi_enable_threads %}
enable-threads = true
{% endif %}
